@charset "utf-8";
/*-----------------------------------首页-----------------------------------*/
.w1200 {
  position: relative;
}
/*---------banner-------------*/
.banner-wrap {
  width: 100%;
  /*--轮播图--*/
}
.banner-wrap .w1200 {
  margin-top: 0;
  margin-bottom: 0;
}
.banner-wrap #banner {
  width: 100%;
  height: 450px;
}
.banner-wrap #banner .items li {
  height: 450px!important;
}
.banner-wrap #banner .items li img {
  display: block;
  width: 100%;
  height: 450px;
  vertical-align: middle;
}
/*---登录板块--*/
.login-wrap {
  position: relative;
}
.login-wrap .login {
  width: 245px;
  height: 450px;
  position: absolute;
  top: -450px;
  right: 0;
  background: rgba(255, 255, 255, 0.9);
  background: #fff\9;
  z-index: 99;
}
.login-wrap .login .partTop {
  padding: 0 10px;
}
.login-wrap .login .loginForm .title {
  width: 100%;
  height: 38px;
  line-height: 38px;
  text-align: center;
  font-size: 16px;
  color: #333;
}
.login-wrap .login .loginForm .input-group {
  width: 100%;
  height: 38px;
  margin-bottom: 10px;
}
.login-wrap .login .loginForm .input-group .inputIcon {
  font-size: 18px;
  color: #666;
  width: 38px;
  height: 38px;
  border: 1px solid #cecece;
  text-align: center;
  line-height: 38px;
  background: #fff;
}
.login-wrap .login .loginForm .input-group .inputBox {
  outline: none;
  background: #fff;
  border: 1px solid #cecece;
  padding-left: 5px;
  width: 185px;
  *width: 178px;
  border-left: 0;
  height: 38px;
  line-height: 38px;
}
.login-wrap .login .loginForm .smallTips {
  margin-top: 2px;
  font-size: 12px;
}
.login-wrap .login .loginForm .smallTips .checkbox-wrap {
  position: relative;
}
.login-wrap .login .loginForm .smallTips .checkbox-wrap input {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: 4px;
  z-index: 10;
}
.login-wrap .login .loginForm .smallTips .checkbox-wrap .checkboxIcon {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #b3abab;
  border-radius: 2px;
  position: relative;
  background: #eee;
}
.login-wrap .login .loginForm .smallTips .checkbox-wrap .checkboxIcon .iconfont {
  display: none;
  position: absolute;
  left: 0;
  top: -7px;
  font-size: 10px;
  color: #000;
}
.login-wrap .login .loginForm .smallTips .checkbox-wrap input:checked ~ .checkboxIcon .iconfont {
  display: block;
}
.login-wrap .login .loginForm .smallTips .forget-pwd {
  padding-right: 10px;
}
.login-wrap .login .loginForm .smallTips .forget-pwd a {
  color: #0f91ed;
}
.login-wrap .login .loginForm .smallTips a {
  color: #333;
  font-size: 11px;
}
.login-wrap .login .loginForm .smallTips a:hover {
  color: #0f91ed;
}
.login-wrap .login .partBottom {
  width: 100%;
  *width: 90%;
  text-align: center;
  padding: 0 10px;
  margin-top: 10px;
}
.login-wrap .login .partBottom .partBottom-con {
  width: 100%;
  *width: 98%;
  padding: 0 4px 10px 4px;
  border: 1px solid #CECECE;
}
.login-wrap .login .partBottom .title {
  height: 30px;
  line-height: 30px;
}
.login-wrap .login .partBottom .tilteCode {
  height: 30px;
  line-height: 30px;
  background-color: #F37538;
  color: white;
}
.submitBtn {
  width: 100%;
  height: 38px;
}
.submitBtn button {
  border: none;
  outline: none;
  width: 100%;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background: #004b97;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}
/*------------专享优惠-------------*/
/*---公用模块 标题--*/
.modelTitle {
  width: 100%;
  height: 50px;
}
.modelTitle h2 {
  color: #333;
  font-size: 26px;
  font-weight: bold;
  padding-left: 10px;
}
.modelTitle h2 img {
  vertical-align: sub;
}
.modelTitle h2 i {
  font-weight: normal;
  font-size: 20px;
  padding: 0 10px;
}
.modelTitle h2 .subTitle {
  font-size: 14px;
  font-weight: normal;
}
.modelTitle h2 .subTitle strong {
  color: #d60b1b;
  font-size: 16px;
  padding-left: 15px;
}
.modelTitle .readMore {
  margin-top: 10px;
  margin-right: 10px;
}
.readMore {
  background: #004b97;
  color: #fff;
  font-size: 14px;
  padding: 2px 8px 2px 15px;
  border-radius: 12px;
  display: inline-block;
}
.discount-wrap .discount-con {
  width: 100%;
  height: 285px;
}
.discount-wrap .discount-con .picScroll-left .active-list:nth-child(5n) .dashed {
  border: none;
}
/*----轮播图公共样式-----*/
.picScroll-left {
  position: relative;
  width: 100%;
  height: 285px;
  overflow: hidden;
}
.picScroll-left .arrow {
  position: absolute;
  top: 94px;
  z-index: 10;
  cursor: pointer;
  display: none;
  *width: 25px;
  *height: 70px;
}
.picScroll-left .arrow img {
  width: 80%;
  height: 80%;
}
.picScroll-left .arrow.prev {
  left: 5px;
}
.picScroll-left .arrow.next {
  right: 0;
}
.picScroll-left .tempWrap {
  width: 100% !important;
  overflow: hidden;
}
.picScroll-left .picList {
  width: 1000% !important;
}
.picScroll-left .active-list {
  position: relative;
  width: 240px !important;
  height: 285px;
  margin-bottom: 5px;
  margin-right: 0;
  float: left;
  display: inline;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-right: none;
}
.picScroll-left .active-list:hover {
  border: 1px solid #004b97;
}
.picScroll-left .active-list:hover .dashed {
  border: none;
}
.picScroll-left .active-list a {
  display: block;
  width: 100%;
  height: 160px;
}
.picScroll-left .active-list a img {
  width: auto;
  height: auto;
  max-width: 238px;
  max-height: 160px;
  vertical-align: middle;
}
.picScroll-left .active-list .product-state {
  padding: 0;
  margin: 5px 0;
  text-align: center;
  width: 100%;
}
.picScroll-left .active-list .product-state .product-name {
  font-size: 16px;
  color: #333;
  height: 38px;
  line-height: 38px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.picScroll-left .active-list .product-state .product-name a {
  color: #333;
}
.picScroll-left .active-list .product-state .product-name a:hover {
  color: #0f91ed;
}
.picScroll-left .active-list .product-state .product-size {
  font-size: 14px;
  color: #666;
}
.picScroll-left .active-list .priceBox .original-price {
  font-size: 16px;
  color: #999;
  padding-right: 6px;
}
.picScroll-left .active-list .priceBox .original-price i {
  text-decoration: line-through;
}
.picScroll-left .active-list .priceBox .discount-price,
.picScroll-left .active-list .priceBox .noLogin {
  font-size: 20px;
  color: #e60000;
}
.picScroll-left .active-list .dashed {
  display: inline-block;
  width: 0px;
  height: 178px;
  border-left: 1px dashed #cdcdcd;
  position: absolute;
  top: 45px;
  right: 0;
}
/*-------新品上线------*/
.newproducts-wrap {
  width: 100%;
}
.newproducts-wrap .w1200 {
  background: #fff;
}
.newproducts-wrap .newproducts-left {
  width: 240px;
  height: 285px;
  background: url('../images/index/newproduct00.jpg') no-repeat;
  background-size: cover;
  position: relative;
}
.newproducts-wrap .newproducts-left a {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
}
.newproducts-wrap .newproducts-left a:hover {
  border-color: #004b97;
}
.newproducts-wrap .newproducts-left .readMore {
  position: absolute;
  top: 65%;
  left: 35%;
}
.newproducts-wrap .newproducts-right {
  width: 960px;
  height: 285px;
  overflow: hidden;
}
.newproducts-wrap .newproducts-right .picList .active-list:nth-child(4n) .dashed {
  border: none;
}
/*----活动买赠---*/
.actives-wrap {
  width: 100%;
}
.actives-wrap .modelTitle {
  position: relative;
  text-align: center;
}
.actives-wrap .modelTitle h2 {
  text-align: center;
  height: 45px;
  line-height: 45px;
}
.actives-wrap .modelTitle h2 .line {
  display: inline-block;
  width: 55px;
  height: 1px;
  background: #2b2b2b;
  position: absolute;
  top: 28px;
  top: 24px\9;
  margin-left: 10px;
}
.actives-wrap .modelTitle h2 .line.lineLeft {
  left: 366px;
  left: 366px\9;
}
.actives-wrap .modelTitle .readMore {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0;
}
.actives {
  width: 100%;
}
.actives .active-list {
  height: 276px;
  height: 274px\9;
  float: left;
  margin-right: 15px;
}
.actives .active-list.active1,
.actives .active-list.active3 {
  width: 379px;
  width: 377px\9;
}
.actives .active-list.active1 a,
.actives .active-list.active3 a {
  width: 379px;
}
.actives .active-list.active3 {
  margin-right: 0;
}
.actives .active-list.active2 {
  width: 412px;
  width: 410px\9;
}
.actives .active-list.active2 a {
  width: 412px;
  width: 410px\9;
}
.actives .active-list a {
  display: inline-block;
  height: 276px;
  height: 274px\9;
}
.actives .active-list a:hover img {
  border-color: #004b97;
}
.actives .active-list a img {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
}
/*----onsale 各种优惠活动---*/
.onsale-wrap {
  width: 100%;
}
.onsale-wrap .onsale-section {
  float: left;
  margin-right: 15px;
  /*----特价优惠---*/
  /*-----药店常备-----*/
  /*-----高毛利区-----*/
}
.onsale-wrap .onsale-section .modelTitle {
  padding-left: 25px;
  padding-right: 12px;
  height: 45px;
  line-height: 45px;
}
.onsale-wrap .onsale-section .modelTitle h2 {
  font-size: 20px;
  color: #fff;
  height: 45px;
}
.onsale-wrap .onsale-section .modelTitle h2 .subTitle {
  font-size: 14px;
}
.onsale-wrap .onsale-section .modelTitle .readMore {
  margin-top: 10;
  padding: 0;
  background: none;
  height: 32px;
  line-height: 28px;
}
.onsale-wrap .onsale-section.sides {
  width: 379px;
  height: 422px;
}
.onsale-wrap .onsale-section.onsale-left .onsale-con .productList {
  border-left: 1px solid #ededed;
}
.onsale-wrap .onsale-section.onsale-left .modelTitle {
  background: #6d55bd;
  border-radius: 30px 0 0 0;
}
.onsale-wrap .onsale-section.onsale-right {
  margin-right: 0;
}
.onsale-wrap .onsale-section.onsale-right .onsale-con .onsale-productsList .active-list {
  border-left: 1px solid #ededed;
}
.onsale-wrap .onsale-section.onsale-right .onsale-con .onsale-productsList .active-list:hover {
  border-color: #004b97;
}
.onsale-wrap .onsale-section.onsale-right .modelTitle {
  background: #325bb5;
  border-radius: 0 30px 0 0;
}
.onsale-wrap .onsale-section.onsale-center {
  width: 412px;
  height: 422px;
}
.onsale-wrap .onsale-section.onsale-center .modelTitle {
  background: #c43d7e;
}
.onsale-wrap .onsale-section.onsale-center .highProfit-wrap {
  width: 100%;
  height: 378px;
  background: #fff;
}
.onsale-wrap .onsale-section.onsale-center .highProfit-wrap .highProfitItems {
  width: 412px;
  height: 378px;
  _width: 412px;
  overflow: hidden;
}
.onsale-wrap .onsale-section.onsale-center .controlBtn {
  width: 27px;
  width: 27px\9;
  height: 100%;
  background: rgba(216, 229, 230, 0.5);
  background: #ebf2f2\9;
  border-right: 1px solid #fff;
  text-align: center;
  line-height: 378px;
  cursor: pointer;
  float: right;
}
.onsale-wrap .onsale-section.onsale-center .open {
  width: 27px;
  width: 27px\9;
  height: 100%;
  background: rgba(132, 196, 241, 0.96);
  background: #8dc2f2\9;
  text-align: center;
  line-height: 378px;
  cursor: pointer;
  float: right;
  color: #fff;
}
.onsale-wrap .onsale-section.onsale-center .highProfitItem {
  display: block;
  width: 331px;
  width: 331px\9;
  height: 378px;
  border-left: 1px solid #ededed;
  position: relative;
  overflow: hidden;
}
.onsale-wrap .onsale-section.onsale-center .highProfitItem .highProfitItem-content {
  width: 330px;
  height: 100%;
}
.onsale-wrap .onsale-section.onsale-center .highProfitItem .highProfitItem-content .leftToRight,
.onsale-wrap .onsale-section.onsale-center .highProfitItem .highProfitItem-content .rightToLeft {
  width: 330px;
  border: 1px solid transparent;
}
.onsale-wrap .onsale-section.onsale-center .highProfitItem .highProfitItem-content .leftToRight:hover,
.onsale-wrap .onsale-section.onsale-center .highProfitItem .highProfitItem-content .rightToLeft:hover {
  border: 1px solid #004b97;
}
.onsale-wrap .onsale-section.onsale-center .highProfitItem .highProfitItem-content .leftToRight {
  border-bottom: 1px solid #ededed;
}
.onsale-wrap .onsale-section.onsale-center .highProfitItem .highProfitItem-content .rightToLeft {
  height: 188px;
  border-bottom: 1px solid #ededed;
}
.onsale-wrap .onsale-section.onsale-center .highProfitItem .highProfitItem-content .productImg {
  width: 160px;
  height: 188px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.onsale-wrap .onsale-section.onsale-center .highProfitItem .highProfitItem-content .productImg a {
  width: 160px;
  height: 188px;
  padding: 5px;
  display: table-cell;
  vertical-align: middle;
}
.onsale-wrap .onsale-section.onsale-center .highProfitItem .highProfitItem-content .productImg img {
  display: block;
  width: auto;
  height: auto;
  max-width: 155px;
  max-height: 188px;
  vertical-align: middle;
  margin: 0 auto;
}
.onsale-wrap .onsale-section.onsale-center .highProfitItem .highProfitItem-content .product-info {
  width: 168px;
  height: 188px;
  vertical-align: middle;
  display: table-cell;
}
.onsale-wrap .onsale-section.onsale-center .highProfitItem .highProfitItem-content .product-info .product-state {
  width: 168px;
  height: 188px;
  vertical-align: middle;
  display: table-cell;
  padding: 0 10px;
}
.onsale-wrap .onsale-section.onsale-center .highProfitItem .highProfitItem-content .product-info .product-name {
  font-size: 16px;
  color: #2b2b2b;
  text-align: left;
}
.onsale-wrap .onsale-section.onsale-center .highProfitItem .highProfitItem-content .product-info .product-name a {
  color: #2b2b2b;
}
.onsale-wrap .onsale-section.onsale-center .highProfitItem .highProfitItem-content .product-info .product-size {
  font-size: 14px;
  color: #666;
  text-align: left;
}
.onsale-wrap .onsale-section.onsale-center .highProfitItem .highProfitItem-content .product-info .priceBox {
  text-align: left;
  font-size: 20px;
  color: #e60000;
}
.onsale-wrap .onsale-con {
  background: #fff;
  /*---特价优惠左边----*/
  /*---药品名称价格--*/
  /*---特价优惠右边--*/
}
.onsale-wrap .onsale-con .onsale-productsAdv {
  width: 161px;
  height: 100%;
}
.onsale-wrap .onsale-con .onsale-productsAdv .productAdv {
  display: block;
  width: 161px;
  height: 160px;
}
.onsale-wrap .onsale-con .onsale-productsAdv .productList {
  width: 100%;
  height: 217px;
  text-align: center;
  border: 1px solid transparent;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.onsale-wrap .onsale-con .onsale-productsAdv .productList:hover {
  border: 1px solid #004b97;
}
.onsale-wrap .onsale-con .onsale-productsAdv .productList .pic {
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.onsale-wrap .onsale-con .onsale-productsAdv .productList .pic a {
  width: 160px;
  height: 105px;
  padding: 5px;
  display: table-cell;
  vertical-align: middle;
}
.onsale-wrap .onsale-con .onsale-productsAdv .productList .pic img {
  display: block;
  width: auto;
  height: auto;
  vertical-align: middle;
  margin: 0 auto;
}
.onsale-wrap .onsale-con .onsale-productsAdv .productList .pic.picLeft img {
  max-width: 160px;
  max-height: 105px;
}
.onsale-wrap .onsale-con .onsale-productsAdv .productList .product-state {
  padding: 0 15px;
}
.onsale-wrap .onsale-con .product-state {
  width: 100%;
  margin: 0;
}
.onsale-wrap .onsale-con .product-state .product-name {
  height: auto;
  max-height: 42px;
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 20px;
}
.onsale-wrap .onsale-con .product-state .product-name a {
  color: #2b2b2b;
  font-size: 16px;
}
.onsale-wrap .onsale-con .product-state .product-size {
  font-size: 14px;
  color: #666;
}
.onsale-wrap .onsale-con .priceBox .price,
.onsale-wrap .onsale-con .noLogin {
  font-size: 20px;
  color: #e60000;
  margin: 8px 0;
}
.onsale-wrap .onsale-con .onsale-productsList {
  width: 218px;
  height: 100%;
}
.onsale-wrap .onsale-con .onsale-productsList .active-list {
  width: 218px;
  height: 126px;
  border: 1px solid transparent;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.onsale-wrap .onsale-con .onsale-productsList .active-list:hover {
  border: 1px solid #004b97;
}
.onsale-wrap .onsale-con .onsale-productsList .active-list .pic {
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.onsale-wrap .onsale-con .onsale-productsList .active-list .pic a {
  width: 109px;
  height: 126px;
  padding: 5px;
  display: table-cell;
  vertical-align: middle;
}
.onsale-wrap .onsale-con .onsale-productsList .active-list .pic img {
  display: block;
  width: auto;
  height: auto;
  vertical-align: middle;
  margin: 0 auto;
}
.onsale-wrap .onsale-con .onsale-productsList .active-list .pic.picRight img {
  max-width: 109px;
  max-height: 126px;
}
.onsale-wrap .onsale-con .onsale-productsList .active-list .product-info {
  width: 50%;
  height: 100%;
}
.onsale-wrap .onsale-con .onsale-productsList .active-list .product-info .product-state {
  padding-top: 15px;
}
/*----热门品牌------*/
.hotbrands-wrap {
  width: 100%;
}
.hotbrands-wrap .hotbrands {
  width: 100%;
  border-top: 1px solid #ededed;
  background: #fff;
}
.hotbrands-wrap .hotbrands li {
  width: 200px;
  height: 100px;
  float: left;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid transparent;
  border-left: 1px  solid #ededed;
  border-bottom: 1px solid #ededed;
}
.hotbrands-wrap .hotbrands li:nth-child(6n) {
  border-right: 1px solid #ededed;
}
.hotbrands-wrap .hotbrands li:hover {
  border: 1px solid #004b97;
}
.hotbrands-wrap .hotbrands li a {
  display: table-cell;
  width: 200px;
  height: 100px;
  vertical-align: middle;
  margin: 0 auto;
}
.hotbrands-wrap .hotbrands li a img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
  margin: 0 auto;
}
